html {
   scroll-behavior: smooth;
}
body {
   font-family: "Atyp Text", sans-serif;
   max-width: 100vw;
   overflow-x: hidden;
}
.container {
   width: 90%;
   margin: 0 auto;
   max-width: 1566px;
}
